<template name="account.billing.suggest">
  <!-- {{#if state$suggestedPlan}}
    <div class="plan-suggestion">
      {{#if state$isCustomPlanSuggested}}
        Based on your <a href="/account/billing">usage patterns</a>, it seems like you need a custom plan. <a href="#" class="talk-to-us">Talk to us</a>.
      {{else}}
        Based on your <a href="/account/billing">usage patterns</a>, we suggest you to <a href="/account/plans">upgrade</a> to the "{{state$suggestedPlan}}" plan.
      {{/if}}
    </div>
  {{/if}} -->
</template>
