<template name="forgotPassword">
  <div class="row text-center">
    <div class="kadira-logo">
        <a href="/"><img src="/images/kadira-logo-light.png" alt="logo"></a>
    </div>
    <div class="container">
      <div class="col-md-4 col-md-offset-4">
        {{#if state$error}}
        <div class="alert alert-danger">{{state$error}}</div>
        {{/if}}

        <h3 id="forgot-password-title">Forgot your password?</h3>
        <form id="forgotPassword">
          <div class="form-group">
            <input type="email" name="forgottenEmail" class="form-control" placeholder="Email Address">
          </div>
          <button type="submit" class="btn btn-default" disabled={{state$isLoading}}>
            {{#if state$isLoading}}
              Sending Email
            {{else}}
              Send Reset Password Email
            {{/if}}
          </button>
        </form>
      </div>
    </div>
  </div>
</template>