<template name="resTimeDistributionDenied">
  <div class="upgrade-notifier" style="margin: 10px 0 15px 0;">
    <div class="feature-preview">
      <div class="desc" style="font-size: 15px;">
        <a href="#" class="upgrade">{{i18n "common.upgrade"}}</a> your plan to view
        <a href="https://kadira.io/academy/meteor-performance-101/content/debugging-meteor-response-time-bottlenecks" target="_blank">Response Time distribution</a>
      </div>

      <div style="position: relative">
        <img
          src="https://cldup.com/byLLuanikd.png"
          class="img-responsive"
          style="margin-top: 5px; border: 1px solid #CECCCC;" />
        <a
          href="#"
          class="btn btn-sm btn-lg btn-info upgrade">{{i18n "common.upgrade"}}</a>
      </div>
    </div>
  </div>
</template>
