<template name="hbar.defaultItemTemplate">
  <div class="list-group-item {{#if state$isSelected id}}selected{{/if}}">
    <div class="hbar-item">
      <span class="hbar-value-type">{{sortedValueTitle}} - {{sortedValue}}</span>
    </div>
    <div class="progress ">
      <div class="progress-bar progress-bar-success" role="progressbar" style="width: {{pSortedValue}}%;"></div>
    </div>
    {{#if commonValueTitle}}
      <div class="progress">
        <div class="progress-bar progress-bar-warning" role="progressbar" style="width: {{pCommonValue}}%;">
        </div>
      </div>
      <div class="common-value"> {{commonValueTitle}} : {{commonValue}}/min</div>
    {{/if}}
  </div>
</template>