<template name="profilerDenied">
  <div class="upgrade-notifier">
    <div class="feature-preview">
      <div class="desc">{{{i18n "profiler.profiler_denied_msg" "https://kadira.io/academy/meteor-cpu-profiling/#taking-a-cpu-profile---for-a-production-app-remotely"}}}
        <br>
        <a target="_blank" href="http://debug.kadiraio.com/debug?tab=cpu-profiler"><small>Use Kadira Debug to profile locally</small></a>
      </div>

      <img src="/images/profiler.png" class="img-responsive">
      <a href="#" class="btn btn-sm btn-lg btn-info upgrade">{{i18n "common.upgrade"}}</a>
    </div>
  </div>
</template>