<template name="remoteProfileCreate">
  <form class="form-horizontal">
    <fieldset>
      <!-- Form Name -->
      <h3>
        <a href="#" id="pf-back" class="btn btn-sm no-bg" >{{i18n 'common.back'}}</a>
        <span class="col-xs-offset-1">{{i18n 'tools.take_remote_profile'}}</span>
      </h3>

      <!-- Text input Duration-->
      <div class="form-group">
        <label class="col-md-4 control-label" for="pf-name">{{i18n "tools.duration"}}</label>
        <div class="col-md-4">
          <select id="pf-duration" name="pf-duration" class="form-control input-md" required>
            <option value="10">{{i18n "tools.seconds" 10}}</option>
            <option value="20">{{i18n "tools.seconds" 20}}</option>
            <option value="30">{{i18n "tools.seconds" 30}}</option>
            <option value="60">{{i18n "tools.minute"}}</option>
            <option value="120">{{i18n "tools.minutes" 2}}</option>
          </select>
        </div>
      </div>

      <!-- Text input Name-->
      <div class="form-group">
        <label class="col-md-4 control-label" for="pf-name">{{i18n "tools.name"}}</label>
        <div class="col-md-4">
          <input id="pf-name" name="pf-name" type="text" placeholder="name(optional)" class="form-control input-md" pattern="[a-zA-Z0-9 ]+" title="{{i18n 'tools.invalid_job_name'}}">
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-4 control-label" for="pf-save"></label>
        <div class="col-md-8">
          <button id="pf-save" name="pf-save" class="btn btn-primary btn-sm" type="submit">{{i18n "common.save"}}</button>
          <a id="pf-cancel" name="pf-cancel" class="btn btn-default btn-sm" href="#">{{i18n "common.cancel"}}</a>
        </div>
      </div>
    </fieldset>
  </form>
</template>