<template name="app.dashboard.methods">
  <div>
    {{>
      render component="summaryChart.source"
      summaryDataKeys="summary.methods"
      metrics="methodResTime,throughput,count"
      labels="Response Time, Throughput,Total Methods"
      formatters=state$summaryFormatters
      helperId="summary-dashboardMethods"
    }}
  </div>
  <div class="row">
    <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
      <h4>Method Breakdown {{>showHelp 'methods-breakdown'}}</h4>
      {{>
        render component="hbar.breakdown"
        metricDataKey="breakdown.methods"
        sortOptionsFn=stateFn$breakDownSortOptions
        commonValueLabelFn=stateFn$breakdownCommonValueLabel
      }}
    </div>

    <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
      {{> render component="app.dashboard.methods.timecharts"}}
    </div>
  </div>
</template>